body {
    background-color: #f8f9fa;
  }

  .piano {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .key {
    width: 1000px;
    height: 200px;
    margin: 0 5px;
    background-color: white;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.1s ease;

  }

  .key:active {
    background-color: #ef5151;
    box-shadow: 5px 5px 5px rgba(15, 1, 1, 0.839);
  }

