.main_bloc{
display: flex;
flex-direction: row;
width: 100%;
}
.blocs{

    justify-content: center;
    margin: 1%;
    padding: 2%;

}
.left_bloc{
    width: 40%;
    overflow-wrap: break-word;
    text-align: center;
}
.right_bloc{
    width: 60%;
    border-radius: 5%;
    background-color: rgb(32, 113, 32);
    color: white;
    text-shadow: 1px 1px 5px black;
    box-shadow: 3px 2px 1px black;
}
h3{
    text-align: center;
    text-shadow: 5px 2px 10px rgb(104, 104, 251);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}

#contact_form {
    text-align: center;
    padding: 1%;
    border: solid;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(178, 2, 2);
    color: white;
    font-size: large;
    width: 30%;
}
#contact_form:hover {
            background-color: black;
}
form{
    margin: 0% 10% 10% 10%;
}
.left2{
    width: auto;
    background-size: cover;
    height: fit-content;
    margin: 2% 0px 2% 0px;
    padding-top: 40%;
}
.left1{
    width: auto;
    background-image: url(../images/IMG_3909.JPG);
    background-size: cover;
    height: fit-content;
    color: white;
    text-shadow: 5px 1px 5px black;
}

.sec_bloc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
}
.sb{
    width: 30%;

}

