body {
    background-color: white;
    margin: auto;
    width: 99%;
    font-size: x-large;
}
header {
    background-image: url('../images/banner2.JPG');
    background-size: cover;
    height: 250px;
    color: white;
    text-shadow: 5px 5px 1px black;
    border-radius: 30px 30px 5px 5px;
}
h1{
    text-align: center;
      padding-top: 5%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

.menu {
    margin: 1%;
    width: auto;
}
.menu a {

    text-shadow: 1px 1px 0px black;
    font-size: large;
    font-weight: bold;
}

a:hover{
    color: rgb(242, 77, 77);
    font-size: larger;
}
section{
    background-color: rgb(241, 234, 234);
    height: fit-content;
    text-align: justify;
    padding: 10px;
    margin: 10px;
}
.main_div{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    height: 60%;
}
.sec2{
width: 75%;
padding: 10px;
    }
#first_aside {
    background-image: url('../images/IMG_3909.JPG');
    background-size: cover;
    width: 25%;
    border: solid;
    padding: 10px;
    margin: 10px;
    text-align: justify;
}
.sec3 {
    background-color: rgb(236, 196, 122);
    border-radius: 10px 10px 10px 10px;
}


footer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid;
    background-color: rgb(9, 77, 9);
    color: white;
    border-radius: 30px 30px 5px 5px;
}

.subdiv {
    width: 33%;
    overflow-wrap: break-word;
    text-align: center;
    padding: 1%;
}




#btn1 {
    text-align: center;
    padding: 1%;
    border: solid;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(178, 2, 2);
    color: white;
    font-size: large;
    width: 30%;
}



#btn1:hover {
            text-align: center;
            padding: 1%;
            border: solid;
            border-radius: 10px 10px 10px 10px;
            background-color: black;
            color: white;
            font-size: large;
            width: 30%;
}

#last_aside{
    text-align: center;

}









